.App {
  text-align: center;
}

.App-link {
  color:#40acb8;
}


.create_button {
  margin-right: 25px;

}

.card-body {

  font-size:18px;
}

.card-footer {
  
  font-size: smaller;
  font-weight: 100;
}

.brandlogo {

  margin-top:20px;
}

.flex-column {

 color: #1b838e;
 
}
/* таблица с тикетами */
.tab {

  border-radius: 5%;

}

.btn-comm {

  margin-top: 20px;
}

.btn-choose {

  margin-left: 170px;
  margin-bottom: 5px;
}

.logo-collapsed {
  display: none;
}

.demo-logo-vertical {
  margin-top: 20px;
  margin-bottom: 50px;
}

.Profile {

  margin-left: 1050px;
}