.App {
  text-align: center;
}

.App-link {
  color:#40acb8;
}

.flex-column {

 color: #1b838e;
 
}
/* таблица с тикетами */
.tab {

  border-radius: 5%;

}

.btn-comm {

  margin-top: 20px;
}

.btn-choose {

  margin-left: 170px;
  margin-bottom: 5px;
}

.logo-collapsed {
  display: none;
}

.demo-logo-vertical {
  margin-top: 20px;
  margin-bottom: 50px;
}

.Profile {
  display: flex;
  justify-content: flex-end;
}

.centered-form-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
